<span style='color: #000' title='Frames'>   963</span><span style='color: #009' title='Memory'>  49408.00 KB</span><span style='color: #900' title='Time'>   1747.66 ms</span><span  title='Quirksmode'>  <span style='color: #0d0'>OFF</span></span><br />